<% content_for :head do %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>

  <script type="text/javascript">
    
		$(document).ready(function(){
      $("div#<%=ID_TAG_IDEA_CHAT+@idea.id.to_s%>").prop({
        scrollTop: $("div#<%=ID_TAG_IDEA_CHAT+@idea.id.to_s%>").prop("scrollHeight")
      });

			pusher = new Pusher('<%=Pusher.key%>');
			chat_presence_channel = pusher.subscribe('<%=PUSHER_CHANNEL_PREFIX_IDEA + @idea.id.to_s%>');
					 
			chat_presence_channel.bind('<%=PUSHER_CHAT_MSG_EVENT%>',
				function(data) {
					eval(data);
				}
			);
			
			chat_presence_channel.bind('pusher:subscription_succeeded', function(members){
				$('#people_chatting').html("");
				       
				// this is not working TODO: fix this
				members.each(function(member){				
  				if ($('#<%=ID_TAG_IDEA_USER%>' + String(member.id)).length ) {
					  member_online(member.id);
					} else {
						$.ajax({
                url: "<%=idea_chat_user_js_path%>", 
                data: {user_id : member.id, user_status : "<%=ID_TAG_CHAT_USER_VIEWING_STRING%>"}, 
                dataType: 'html',
                success: function(returned_html){
                  $("#<%=ID_TAG_IDEA_CHAT_USER_LIST%>").append(returned_html);
                },
                error: function(msg){ // remove this for live deploy
                  alert(msg);
                }
              });
					}
				});
			});

			chat_presence_channel.bind('pusher:member_removed', function(member){
				if ($('#<%=ID_TAG_IDEA_USER%>' + String(member.id)).length ) {
				  member_offline(member.id);
				}
			});

			chat_presence_channel.bind('pusher:member_added', function(member){
				if ($('#<%=ID_TAG_IDEA_USER%>' + String(member.id)).length ) {
				  member_online(member.id);
				} else {
				  $.ajax({
                url: "<%=idea_chat_user_js_path%>", 
                data: {user_id : member.id, user_status : "<%=ID_TAG_CHAT_USER_VIEWING_STRING%>"}, 
                dataType: 'html',
                success: function(returned_html){
                  $("#<%=ID_TAG_IDEA_CHAT_USER_LIST%>").prepend(returned_html);
                },
                error: function(msg){ // remove this for live deploy
                  alert(msg);
                }
              });
				
				}
			});
			
		});

		function member_online(user_id) {
  		$('#<%=ID_TAG_IDEA_USER%>' + String(user_id)).removeClass('idea-user-item-status-offline');
      $('#<%=ID_TAG_IDEA_USER%>' + String(user_id)).addClass('idea-user-item-status-online');
		}

		function member_offline(user_id) {
      $('#<%=ID_TAG_IDEA_USER%>' + String(user_id)).removeClass('idea-user-item-status-online');
  		$('#<%=ID_TAG_IDEA_USER%>' + String(user_id)).addClass('idea-user-item-status-offline');
		}
  </script>
<% end %>


<!-- id tag to mark this as the IDEAS VIEW page for shared AJAX functions -->
<div class='hidden-div' id='<%=ID_TAG_IDEA_VIEW_PAGE%>'></div>


<div class='left-nav'>
  <div class='idea-image-main'>
    <%= image_tag @idea.photo.url(:thumb)%>
  </div>
  <div class='idea-action-link'>
    <% if @curr_user_idea_link.nil? %>
      <!-- TODO: NEED TO MAKE NEW PARTIAL THAT DOESN'T DIRECT TO HOME CONTROLLER AJAX -->
      <%= render :partial => 'home/idea_action_add', :locals => {:idea_id => @idea.id} %>
    <% else %>
      <%= link_to 'Make an Event! (events coming soon)', '#' %>
    <% end %>
  </div>

  <br />
  
  <div class='content-section'>
    <!-- if no friends, then default public view, else friends view -->
    <div class='content-header'>
        People Sharing
    </div>

    <%= render :partial => 'shared_modules/chat_user_list_left_nav', 
               :locals => {:container_id_tag => ID_TAG_IDEA_CHAT_USER_LIST, :users => @idea.users} %>

  </div>
</div>
    

<div class='content'>

  <div class='content-title'>
        <%= @idea.text %>
  </div>
  <span class='minor-link'><%= link_to 'edit idea', edit_idea_path(@idea), {:method => 'get'}%></span>
  
  <!-- just taking up some space... -->
  <div class='content-section'> &nbsp; </div>
  <div class='content-section'> &nbsp; </div>
  
  <div class='content-section'>
    <div class='content-header'>Public Chat Board</div>
    <span class='minor-text'>Talk about the idea with anyone interested! Create an event when you're ready to plan time, place, etc.</span>
    
	  <!-- idea chat window ID is "idea_chat_<##>" where <##> is unique DB idea id -->
    <%= render :partial => "shared_modules/chat_board", 
               :locals => {:chat_messages => @idea_chat_msgs,
                           :ajax_tag => ID_TAG_IDEA_CHAT+"#{@idea.id}"} %>

    <!-- Message input send form: can't be shared with feedback chat right now because hidden :user_id field
           is different. Well...it could but I'm lazy...
    -->
    <% if @has_idea %>
      <%= render :partial => 'shared_modules/chat_input_bar_ideas'%>
    <% else %>
      <div class='minor-text' id='<%=ID_TAG_IDEA_CHAT_INPUT_AREA%>'>Join the idea to chat!</div>
    <% end %>
  
  </div>
</div>  
