<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @idea.text %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @idea.photo.url%>
</p>

This is the idea page where initial chatting and excitement building needs to
take place.
<br/>
<br/>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
