<% content_for :head do %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>
  <script src="/assets/external/jquery.tools.min.js"></script>

  <script type="text/javascript">
   
    // Keep array of user's friends' ids in js memory
    var friend_ids_str = "<%= @friend_ids_str %>";
    var friend_ids_array = friend_ids_str.split(',');
    var public_view = true;
    
    
    function toggle_reply() {
      var raw_id = $(this).attr("id");
      var id = "#" + raw_id + "_reply";
      $(id).toggle(0, function() {
        var textarea_id =  "#" + raw_id + "_reply_text_area";
        var element = $(textarea_id);
        element.focus();
      });
      return false;
    }

    function clearForm(form) {
      // iterate over all of the inputs for the form
      // element that was passed in
      $(':input', form).each(function() {
        var type = this.type;
        var tag = this.tagName.toLowerCase(); // normalize case
        // it's ok to reset the value attr of text inputs,
        // password inputs, and textareas
        if (type == 'text' || type == 'password' || tag == 'textarea')
          this.value = "";
          // checkboxes and radios need to have their checked state cleared
          // but should *not* have their 'value' changed
        else if (type == 'checkbox' || type == 'radio')
          this.checked = false;
          // select elements need to have their 'selectedIndex' property set to -1
          // (this works for both single and multiple select elements)
        else if (tag == 'select')
        this.selectedIndex = -1;
      });
   };

    function replyFormAjax(request, returned_html, xhr) {
      var parentId = $(this).parent().attr("id");
      $(this).parent().toggle();
      if(parentId == "new_topic") {
      //means it's a brand new top level topic, must handle it differently than a child reply
        $("#forum-container").prepend(returned_html);
      } else {
        var id = $(this).parent().attr("id").split("_")[0];
        var child_posts_id = "#" + id + "_children";
        $(child_posts_id).prepend(returned_html);
        var view_children_link = "#" + id + "_view_children_link";
        var link_text = $(view_children_link).text();
        var child_count = Number(link_text.match("\\d+")) + 1;
        link_text = "Hide Replies(" + child_count + ")";
        $(view_children_link).html(link_text);
        $(child_posts_id).show();
      }
      clearForm(this);
      $(".reply-link-class").unbind('click');
      $(".reply-link-class").click(toggle_reply);

      $('.new_post').unbind('ajax:success');

      $('.new_post').bind('ajax:success', replyFormAjax);
 
    };

    function switchBgColor(element1, element2) {
      var bgcolor1 = element1.css('background-color');
      var bgcolor2 = element2.css('background-color');
      element1.css('background-color', bgcolor2);
      element2.css('background-color', bgcolor1);
    }
   
 
    $(document).ready(function(){
      $("#show-idea-people").click(function() {
        if(!$("#all-idea-users").is(":visible")) {
          $("#friend-idea-users").hide();
          $("#all-idea-users").show(); 
          switchBgColor($("#show-idea-people"), $("#show-idea-friends"));
        }
      });

      $("#show-idea-friends").click(function() {
        if(!$("#friend-idea-users").is(":visible")) {
          $("#all-idea-users").hide();
          $("#friend-idea-users").show();
          switchBgColor($("#show-idea-people"), $("#show-idea-friends"));
        }
      });
      
      $(".reply-link-class").click(toggle_reply);

      $(".view-children-link").click(function() {
        var id = $(this).attr("id");
        var post_id = id.match("\\d+");
        id = "#" + post_id + "_children";
        $(id).toggle();
        var link_text = $(this).text();
        //Change the link text to View/Hide so the user knows they can toggle the post tree
        if(link_text.search("View") > -1) {
          link_text = link_text.replace("View", "Hide");
        } else if(link_text.search("Hide") > -1) {
          link_text = link_text.replace("Hide", "View");
        }
        $(this).text(link_text);
        return false;
      });

      $("#new_topic_link").click(function() {
        $("#new_topic").toggle();
        return false;
      });
    
      $('.new_post').bind('ajax:success', replyFormAjax);

      <% if @read_only %>
        $('a[rel*=facebox]').facebox();
      <% end %>
   }); 
    
  </script>
<% end %>

<div class="idea-info-container">
  <div class="idea-info">
    <div style="width: 100%; font-size: 200%; padding-bottom: 5px;">
      <%= @idea.text %>
    </div>
    <div class='idea-info-pic'>
      <div>
        <%= image_tag @idea.photo.url(:medium)%>
      </div>
      <span id="<%=ID_TAG_IDEA_EDIT_LINK%>" class='minor-link'>
        <% unless @curr_user_idea_link.nil? %>
            &nbsp;&nbsp;<%= link_to 'Edit Idea', edit_idea_path(@idea), {:method => 'get'}%>
        <% end %>
      </span>

      <% if @curr_user_idea_link.nil? %>
        <div style="height: 100%">
          <%= link_to_readonly @read_only, BUTTON_JOIN_IDEA, join_idea_from_idea_view_path(:idea_id => @idea.id, :idea_assc_type => IDEA_ASSC_ADD_IDEA), {:method => 'post'} %>
        </div>
        
        <% end %>
        <div class='content-section'>
          <div style="font-weight: bold; font-size:16px; padding-top: 20px;">
            Tags
          </div>
          <% unless @read_only %>
            <div style="padding: 5px 0px 5px 0px">
              <span class="minor-text">Tags are keywords that describe the idea. Add as many tags as you'd like. Separate multiple tags with a comma (i.e. hiking, europe).
              </span>
            </div>
          <% end %>
          <%= render :partial => 'tags/idea_tags', 
               :locals => {:idea_id => @idea.id,
                           :current_tag_list => @idea.tags_from(current_user),
                            :read_only => @read_only} %>

        </div>
        
      </div>
    <div>
    </div>

    <div class="idea-info-data">
      

      <div class="idea-info-user-container">
        <div style="padding-left:10px;">
          <div id="show-idea-people" class="idea-people">
            People
          </div>
          <div id="show-idea-friends" class="idea-people" style="background-color:#95BDF5;">
            Friends
          </div>
        </div>
        <%= render :partial => 'idea_users' %> 
        <div class='content-section' style="padding: 40px 0px 0px 5px">
          <div style="font-weight: bold; font-size: 20px;">Idea Discussion</div>
    
          <% unless @read_only %>
            <span class='minor-text'>Post information you want to share with the group</span>
            <div><br/><%= link_to "Post New Topic", "#", :id => "new_topic_link" %></div>
            <div id="new_topic" <% unless @forum_posts.empty? %> class="hidden-div" <% end %> > 
              <%= render :partial => 'forum/forum_post', :locals => {:post_id => nil, :idea_id => @idea.id} %>
            </div><br/>
          <% end %>
          <div id='forum-container' style="overflow: auto; height: 250px;">
            <%= render :partial => 'forum/forum_display', :locals => {:posts => @forum_posts, :level => 0, :postCount => 0} %>
          </div>

        </div>
 
      </div>
    </div>
  </div>
</div>

