<%= form_for(@idea_event) do |f| %>
  <% if @idea_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea_event.errors.count, "error") %> prohibited this idea_event from being saved:</h2>

      <ul>
      <% @idea_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :progress %><br />
    <%= f.text_field :progress %>
  </div>
  <div class="field">
    <%= f.label :idea %><br />
    <%= f.text_field :idea %>
  </div>
  <div class="field">
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
