<h1>Listing idea_events</h1>

<table>
  <tr>
    <th>Progress</th>
    <th>Idea</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @idea_events.each do |idea_event| %>
  <tr>
    <td><%= idea_event.progress %></td>
    <td><%= idea_event.idea %></td>
    <td><%= idea_event.event %></td>
    <td><%= link_to 'Show', idea_event %></td>
    <td><%= link_to 'Edit', edit_idea_event_path(idea_event) %></td>
    <td><%= link_to 'Destroy', idea_event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea event', new_idea_event_path %>
