<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_idea_time.user %>
</p>

<p>
  <b>Idea:</b>
  <%= @user_idea_time.idea %>
</p>

<p>
  <b>Time:</b>
  <%= @user_idea_time.time %>
</p>


<%= link_to 'Edit', edit_user_idea_time_path(@user_idea_time) %> |
<%= link_to 'Back', user_idea_times_path %>
