<div class='left-nav'>
  <% if current_user.profile_pic_file_size.nil? %>
    <%= image_tag current_user.profile_pic_file_name %>
  <% else %>
    <%= image_tag current_user.profile_pic.url(:thumb) %><br />
  <% end %>  
  
  <%= link_to 'edit profile', edit_user_registration_path, :method => :get %><br/>
  <br/>
  <b>User Name</b>: <%= current_user.user_name %><br />
  <b>Email</b>: <%= current_user.email %><br />
  <b>Name</b>: <%=current_user.first_name%> <%=current_user.last_name%><br />
  <b>Description</b>: <%= current_user.description %><br/>
  <b>Interests</b>: <%= current_user.interests %><br/>
</div>

<div class='content-container'>

  <div class='content-section'>
    <div class='content-header'>
      My Ideas:
    </div>

    <div class='idea-stream-header-row'>
      <div class='idea-row-picture'>&nbsp</div>
      <div class='idea-row-text'>Idea Description</div>
      <div class='idea-row-misc'>Action</div>
    </div>

    <% current_user.user_ideas.each do |user_idea_link| %>
      <div class='idea-stream-content-row'>
        <% idea = user_idea_link.idea %>
        <div class='idea-row-picture'>
          <%= link_to image_tag(idea.photo.url(:stream)),
                                idea_path(idea.id),
                                {:method => 'get'} %>
        </div>
        <div class='idea-row-text'>
          <%= link_to user_idea_link.idea.text, idea_path(user_idea_link.idea),
                      {:method => 'get'} %>
        </div>
        <div class='idea-row-misc'>
          <%= link_to 'remove', user_idea_link, {:method => :delete} %>
        </div>
      </div>
    <% end %>
  </div>

  <div class='content-section'>
    <div class='content-header'>
      My Friends:
    </div>

    <div class='user-stream-header-row'>
      <div class='user-row-picture'>Picture</div>
      <div class='user-row-text'>Name</div>
      <div class='user-row-misc'>Action</div>
    </div>

    <!-- renders the partial for each obj in @users collection -->
    <%= render :partial => "list_users", :collection => current_user.friends, :as => :user %>

  </div>
</div>

