<% if current_user.profile_pic_file_size.nil? %>
  <%= image_tag current_user.profile_pic_file_name %>
<% else %>
  <%= image_tag current_user.profile_pic.url(:thumb) %><br />
<% end %>
<%= link_to 'edit profile', edit_user_registration_path, :method => :get %><br/>
<br/>
<b>User Name</b>: <%= current_user.user_name %><br />
<b>Email</b>: <%= current_user.email %><br />
<b>Name</b>: <%=current_user.first_name%> <%=current_user.last_name%><br />
<b>Description</b>: <%= current_user.description %><br/>
<b>Interests</b>: <%= current_user.interests %><br/>

<br/>
<br/>

<b>Ideas:</b>

<table>
  <tr>
    <th>Idea Description</th>
    <th></th>
  </tr>

  <% current_user.user_ideas.each do |user_idea_link| %>
    <tr>
      <td><%= link_to user_idea_link.idea.text, idea_path(user_idea_link.idea),
                {:method => 'get'} %></td>
      <td><%= link_to 'remove', user_idea_link, {:method => :delete} %></td>
    </tr>
  <% end %>
</table>

<br/>

<b>Friends:</b>

<table>
  <tr>
    <th>Friend Name</th>
    <th>Email</th>
    <th></th>
  </tr>

  <% current_user.friendships.each do |friendship| %>
    <tr>
      <td><%= link_to friendship.friend.user_name, user_path(friendship.friend),
                {:method => 'get'} %></td>
      <td><%= friendship.friend.email %></td>
      <td><%= link_to 'defriend', friendship, :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />
