<% content_for :head do %>
  <script type="text/javascript">
    function joinIdea(){
      var idea_id = $('.idea-id-identifier', this).html();

      $.ajax({url: "<%=user_ideas_path%>",
              type: "POST",
              data: {user_id: <%=current_user.id%>, idea_id: idea_id},
              success: function(return_html){                
                $.ajax({url: "<%=idea_preview_path%>",
                        data: {idea_id: idea_id},
                        success: function(return_html){
                          $('#AJAX_right_preview_box_id').html(return_html);
                        },
                        dataType: 'html'});
              },
              dataType: 'html'});
      
      $(this).html("You joined!");
      $(this).removeClass("JS_idea_row_action_join");
      $(this).removeClass("idea-row-action-join");
      $(this).addClass("idea-row-action-join-confirm");
      $('.JS_idea_row_action_preview').mouseover(function () {
  	    $(this).css('cursor', 'pointer');
      });
    }
  
    $(document).ready(function(){
      $('.JS_idea_row_action_join').click(joinIdea);
      $('.JS_idea_row_action_join').mouseover(function () {
  	    $(this).css('cursor', 'pointer');
      });        
    });

  </script>
<% end %>


<!-- id tag to mark this as the USER VIEW page for shared AJAX functions -->
<div class='hidden-div' id='<%=ID_TAG_USER_VIEW_PAGE%>'></div>

<div class='left-nav'>      
  <%= render :partial => '/users/profile_pic', :locals => {:current_user => @user, :makelink => false} %>
  <%= @user.user_name %>
  <% if @friendship.nil? %>
    <!-- TODO - split string "show" in :prev_page => 'show' into a global var
         Make this ajax -->
    <%= link_to '(add friend)', friendships_path(:friend_id => @user.id, :prev_page => 'show'), 
              :method => :post, :remote => false %>
  <% else %>
    <%= link_to '(defriend)', friendship_path(@friendship.id),
              :method => :delete, :remote => false %>
  <% end %>
  <br/>
  <br/>
  Name: <%= @user.first_name %> <%= @user.last_name %><br/>
  Location: <%= @user.location %><br/>
  Birthday: <%= @user.dob %><br/>
  <br/>
  About Me: <%= @user.description %><br/>
  <br/>
  Interests: <%= @user.interests %><br/>
</div>

<div class='content-container'>

  <div class='content-section'>
    <div class='content-header'>Ideas</div>

    <div class='idea-stream-header-row'>
      <div class='idea-row-picture'>&nbsp</div>
      <div class='idea-row-text'>Idea Description</div>
      <div class='idea-row-misc'>Action</div>
    </div>
    
    <%= render :partial=>"home/idea_stream_search", :locals => {:pic_display_mode => PIC_VIEW_TYPE_IDEA, :view_type => IDEA_STREAM_NO_PREVIEW} %>
  </div>
  
  <div class='content-section'>
    <div class='content-header'>
      Friends:
    </div>

    <div class='user-stream-header-row'>
      <div class='user-row-picture'>Picture</div>
      <div class='user-row-text'>Name</div>
      <div class='user-row-misc'>Action</div>
    </div>

    <!-- renders the partial for each obj in @users collection -->
    <%= render :partial => "list_users", :collection => @user.friends, :as => :user %>
  </div>

</div>
