            <% idea_owner = User.find(friend_idea_query_item.idea_creator) %>
            <div class='idea-stream-content-row'>
              <div class='idea-row-picture'>
                <% if pic_display_mode == PIC_VIEW_TYPE_USER %>
                  <%= link_to image_tag(idea_owner.profile_pic.url(:stream)),
                              user_path(idea_owner.id),
                              {:method => 'get'} %>
                <% elsif pic_display_mode == PIC_VIEW_TYPE_IDEA %>
                  <%= link_to image_tag(friend_idea_query_item.photo.url(:stream)),
                                idea_path(friend_idea_query_item.id),
                                {:method => 'get'} %>
                <% end %>
              </div>
              <div class='idea-row-text'>
                <%=idea_owner.user_name%>:<br/>
                <span class='idea-text'><%= link_to friend_idea_query_item.idea_text,
                              idea_path(friend_idea_query_item.idea_id),
                              {:method => 'get'} %></span>
                <% unless @user_idea_ids.include?(friend_idea_query_item.idea_id.to_s) %>
                  <%= render :partial => "home/idea_action_add",
                             :locals => {:idea_id => friend_idea_query_item.idea_id} %>
                <% end %>
              </div>
              <div class='idea-row-misc'>
                <div id="<%=ID_TAG_AUTH_HOME_STREAM_NUM_USERS+friend_idea_query_item.idea_id.to_s%>">
                  <%=UserIdea.where("idea_id = ?", friend_idea_query_item.idea_id).count%> users sharing
                </div>
                <div>
                  <%=friend_idea_query_item.user_count%> friends sharing
                </div>
              </div>
            </div>
