<!-- Usage
  
    NOTES
    - @user_idea_ids is rendered in home_controller.html.erb by the set_objs_to_render private function
      which is called across many other functions that need to initialize this variable
      TODO: hacky...fix this - refactor it out in a better way
-->

<% if view_only == IDEA_STREAM_VIEW_ONLY_TRUE %>

            <% idea_owner = User.find(idea_item.creator) %>
            <div class='idea-stream-content-row'>
              <div class='idea-row-picture'>
                <% if pic_display_mode == PIC_VIEW_TYPE_USER %>
                  <%= render :partial => '/users/profile_pic', :locals => {:current_user => idea_owner, :makelink => false} %>

                <% elsif pic_display_mode == PIC_VIEW_TYPE_IDEA %>
                  <%= image_tag(idea_item.photo.url(:stream))%>
                <% end %>
              </div>
              <div class='idea-row-text'>
                <%= idea_owner.user_name%>:<br/>
                <span class='idea-text'><%= idea_item.text%></span>
              </div>
              <div class='idea-row-misc'>
                <div id="<%=ID_TAG_AUTH_HOME_STREAM_NUM_USERS+idea_item.id.to_s%>">
                  <%=idea_item.num_users_joined%> users sharing
                </div>
              </div>
            </div>

<% else %>

            <% idea_owner = User.find(idea_item.creator) %>
            <div class='idea-stream-content-row'>
              <div class='idea-row-picture'>
                <% if pic_display_mode == PIC_VIEW_TYPE_USER %>
                  <%= render :partial => '/users/profile_pic', :locals => {:current_user => idea_owner, :path => user_path(idea_owner.id), :makelink => true} %>
                <% elsif pic_display_mode == PIC_VIEW_TYPE_IDEA %>
                  <%= link_to image_tag(idea_item.photo.url(:stream)),
                                idea_path(idea_item.id),
                                {:method => 'get'} %>
                <% end %>
              </div>
              <div class='idea-row-text'>
                <%= idea_owner.user_name%>:<br/>
                <span class='idea-text'><%= link_to idea_item.text,
                              idea_path(idea_item.id),
                              {:method => 'get'} %></span>
                <% unless @user_idea_ids.include?(idea_item.id.to_s) %>
                  <%= render :partial => "home/idea_action_add",
                             :locals => {:idea_id => idea_item.id} %>
                <% end %>
              </div>
              <div class='idea-row-misc'>
                <div id="<%=ID_TAG_AUTH_HOME_STREAM_NUM_USERS+idea_item.id.to_s%>">
                  <%=idea_item.num_users_joined%> users sharing
                </div>
                <div>
                  <%= current_user.friendships
                                       .joins('INNER JOIN user_ideas ON friendships.friend_id = user_ideas.user_id')
                                       .where('user_ideas.idea_id = ?', idea_item.id)
                                       .count %> friends sharing
                </div>
                  
              </div>
            </div>
               
<% end %>
