<!-- Usage
  
    NOTES
    - @user_idea_ids is rendered in home_controller.html.erb by the set_objs_to_render private function
      which is called across many other functions that need to initialize this variable
      TODO: hacky...fix this - refactor it out in a better way
    - view_type is an enumerable type specifying what parts of idea stream elements to render 
    - idea_item is the idea object that is being rendered
-->

<% if view_type == IDEA_STREAM_VIEW_ONLY %>

            <% idea_owner = User.find(idea_item.creator) %>
            <div class='idea-stream-content-row'>
              <div class='idea-row-picture'>
                <% if pic_display_mode == PIC_VIEW_TYPE_USER %>
                  <%= render :partial => '/users/profile_pic', :locals => {:current_user => idea_owner, :makelink => false} %>

                <% elsif pic_display_mode == PIC_VIEW_TYPE_IDEA %>
                  <%= image_tag(idea_item.photo.url(:stream))%>
                <% end %>
              </div>
              <div class='idea-row-text'>
                <%=idea_owner.first_name + " " + idea_owner.last_name%>:<br/>
                <span class='idea-text'><%=idea_item.text%></span>
              </div>
              <div class='idea-row-misc'>
                <div id="<%=ID_TAG_AUTH_HOME_STREAM_NUM_USERS+idea_item.id.to_s%>">
                  <%=idea_item.num_users_joined%> users sharing
                </div>
              </div>
            </div>

<% else %>

            <% idea_owner = User.find(idea_item.creator) %>
            <div class='idea-stream-content-row'>
              <div class='idea-row-picture'>
                <% if pic_display_mode == PIC_VIEW_TYPE_USER %>
                  <%= render :partial => '/users/profile_pic', :locals => {:current_user => idea_owner, :path => user_path(idea_owner.id), :makelink => true} %>
                <% elsif pic_display_mode == PIC_VIEW_TYPE_IDEA %>
                  <%= link_to image_tag(idea_item.photo.url(:stream)),
                                idea_path(idea_item.id),
                                {:method => 'get'} %>
                <% end %>
              </div>
              <div class='idea-row-text'>
                <%=idea_owner.first_name + " " + idea_owner.last_name%>:<br/>
                <span class='idea-text'>
                  <%=  link_to idea_item.text, idea_path(idea_item), {:method => 'get'} %>
                </span>
              </div>
              <div class='idea-row-misc'>
                Sharing:<br/>
                <div id="<%=ID_TAG_AUTH_HOME_STREAM_NUM_USERS+idea_item.id.to_s%>">
                  &nbsp;&nbsp;<%=idea_item.num_users_joined%> users
                </div>
                <div>
                  &nbsp;&nbsp;<%= current_user.friendships
                                       .joins('INNER JOIN user_ideas ON friendships.friend_id = user_ideas.user_id')
                                       .where('user_ideas.idea_id = ?', idea_item.id)
                                       .count %> friends
                </div>
                  
              </div>
              <div class='idea-row-action'>
                <% unless view_type == IDEA_STREAM_NO_PREVIEW %>
                  <div class='JS_idea_row_action_preview idea-row-action-preview'>
                    Preview
                    <div class='idea-id-identifier hidden-div'><%=idea_item.id%></div>
                  </div>
                  <br />
                  <br />
                <% end %>
                <% unless @user_idea_ids.include?(idea_item.id.to_s) %>
                  <div class='JS_idea_row_action_join idea-row-action-join'>
                    Jump In!
                    <div class='idea-id-identifier hidden-div'><%=idea_item.id%></div>
                  </div>
                <% end %>
              </div>
            </div>
               
<% end %>
