<% content_for :head do %>
  <script type="text/javascript">
    last_scroll_position = $(window).scrollTop();

    // TODO: can set autofocus with HTML5 as well so don't need this javascript to run for HTML5 browsers -->
    $(document).ready(function(){

      did_scroll_down = false; // initialize variable for scroll bottom interval function

      $("#idea").focus();
      $("#idea").select();

      $("#idea").focus(function(){
        $("#idea").select();
      });
      
      $("#search").focus(function(){
        $("#search").select();
      });

      // Auto loading ideas on scroll bottom functions
      // Detect scroll event down
      $(window).scroll(function() {
        current_scroll_position = $(window).scrollTop();
        if (current_scroll_position > last_scroll_position){
          did_scroll_down = true;
        }else{
          did_scroll_down = false;
        }
        last_scroll_position = current_scroll_position;      
      });
      // Load next functions
      setInterval(function() {
        if ( did_scroll_down ) {
          did_scroll_down = false;
          
          if  ( ($(document).height() - $(window).height()) - $(window).scrollTop() < 50 ){
            var page_num = parseInt($("#AJAX_page_num_store").html()) + 1;
            $.ajax({
                url: "<%=next_ideas_batch_js_path%>", 
                data: {page : page_num}, 
                dataType: 'html',
                success: function(returned_html){
                  $("#AJAX_main_stream_content").append(returned_html); // tag is rendered in _idea_stream_*.html.erb partial
                  if ($.trim(returned_html).length != 0){
                    $("#AJAX_page_num_store").html(String(page_num)); // increment pages processed if results came back
                  }
                },
                error: function(msg){ // remove this for live deploy
                  alert(msg);
                }
              });

          }
        }
      }, 1000); // 1 second delay for function gives ajax to return and make page longer before next at_bottom check 

    });

  </script>
<% end %>


<!-- id tag to mark this as the AUTH HOME page for shared AJAX functions -->
<div class='hidden-div' id='<%=ID_TAG_HOME_AUTH_PAGE%>'></div>


<!-- Main Body for side menu, stream, and suggestion block -->
<%= render :partial=>"left_nav"%>

<div class='content'>

  <%= form_tag authenticated_home_path, :method => :get do %>
    <% if params[:search].blank? %>
      <%= text_field_tag :search, INPUT_BOX_SEARCH_IDEAS %>
    <% else %>
      <%= text_field_tag :search, params[:search] %>
    <% end %>        
    <%= submit_tag "Search", :name => nil %>
    
    <input type="hidden", name="stream_view" value='<%=STREAM_VIEW_SEARCH%>' />
  <% end %>
  
  <div class='content-section'>
    <div class='idea-stream-content-view-selector'>
      View: 
      <% case session[:stream_view] %>
        <% when STREAM_VIEW_PUBLIC %>
          Public | 
          <%= link_to 'Friends', 
                      authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS), 
                                              {:method => 'get', 
                                               :title => "See friends' ideas"}%> | 
          Featured<br/>

        <% when STREAM_VIEW_FRIENDS %>  
          <%= link_to 'Public', authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC), 
                                                        {:method => 'get', 
                                                         :title => "See public ideas"}%> | 
          Friends | 
          Featured<br/>

        <% when STREAM_VIEW_SEARCH %>
          <%= link_to 'Public',
                     authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC),
                     {:method => 'get',
                      :title => "See public ideas"}%> | 
          <%= link_to 'Friends',
                     authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS),
                     {:method => 'get',
                     :title => "See friends' ideas"}%> | 
          Featured | 
          Search <br />

      <% end %>
    </div>
    
    <div class='idea-stream-header-row'>
      <div class='idea-row-picture'>Owner</div>
      <div class='idea-row-text'>Idea Description</div>
      <div class='idea-row-misc'>Details</div>
    </div>
    
    <!-- STREAM FRIENDS result display -->
    <% if session[:stream_view] == STREAM_VIEW_FRIENDS %>
        <%= render :partial=>"idea_stream_friend", :locals => {:pic_display_mode => PIC_VIEW_TYPE_USER, :view_only => IDEA_STREAM_VIEW_ONLY_FALSE}%>
    <% else %>
    <!-- STREAM VIEW PUBLIC and SEARCH RESULTS display -->
        <%= render :partial=>"idea_stream_search", :locals => {:pic_display_mode => PIC_VIEW_TYPE_USER, :view_only => IDEA_STREAM_VIEW_ONLY_FALSE}%>
    <% end %>      
  </div>
</div>
