<% content_for :head do %>
  <script src="/assets/external/jquery.masonry.min.js"></script>
  <script src="/assets/external/jquery.imagesloaded.js"></script>
  
  <script type="text/javascript">
    last_scroll_position = $(window).scrollTop();

    // TODO: can set autofocus with HTML5 as well so don't need this javascript to run for HTML5 browsers -->
    //$(document).ready(function(){

    function renderIdeaPreview(){
      var idea_id = $('.idea-id-identifier', this).html();

      $.ajax({url: "<%=idea_preview_path%>",
            data: {idea_id: idea_id},
            success: function(return_html){
              $('#AJAX_right_preview_box_id').html(return_html);
            },
            dataType: 'html'});

      var vertical_scroll = String($(window).scrollTop()) + "px";
      $('#AJAX_right_preview_box_id').css({"position":"relative","top":vertical_scroll});
    }

    $(function(){
      did_scroll_down = false; // initialize variable for scroll bottom interval function

      $("#idea").focus();
      $("#idea").select();

      $("#idea").focus(function(){
        $("#idea").select();
      });
      
      $("#search").focus(function(){
        $("#search").select();
      });

      var $container = $('#AJAX_main_stream_content');
      // turn off masonry for stream view - masonry class div does not sit in content-container
      //   so css styling is off
      <% unless @user_page_layout == PAGE_LAYOUT_AUTH_HOME_STREAM %>
        // set Masonry variable and initialize tiling
        $container.imagesLoaded(function(){
          $container.masonry({
            itemSelector: '.block-stream-element-container',
            isAnimated: false // sets animation
          });
        });
      <% end %>

      // Auto loading ideas on scroll bottom functions
      // Detect scroll event down
      $(window).scroll(function() {
        current_scroll_position = $(window).scrollTop();
        if (current_scroll_position > last_scroll_position){
          did_scroll_down = true;
        }else{
          did_scroll_down = false;
        }
        last_scroll_position = current_scroll_position;      
      });
      // Load next functions
      setInterval(function() {
        if ( did_scroll_down ) {
          did_scroll_down = false;
          
          if  ( ($(document).height() - $(window).height()) - $(window).scrollTop() < 700 ){
            var page_num = parseInt($("#AJAX_page_num_store").html()) + 1;
            var idea_string = $("#search").val();
            
            $.ajax({
                url: "<%=next_ideas_batch_js_path%>", 
                data: {page: page_num, idea: idea_string}, 
                dataType: 'html',
                success: function(returned_html){

                  var $newElems = $( returned_html );
                  // ensure that images load before adding to masonry layout
                  $newElems.imagesLoaded(function(){
                    // do not use masonry for stream view
                    <% unless @user_page_layout == PAGE_LAYOUT_AUTH_HOME_STREAM %>
                      $container.append($newElems).masonry( 'appended', $newElems, false); // boolean arg sets animation
                    <% else %>
                      $container.append($newElems);
                    <% end %>
                  });
                  
                  if ($.trim(returned_html).length != 0){
                    $("#AJAX_page_num_store").html(String(page_num)); // increment pages processed if results came back
                  }
                  
                  <% if @user_page_layout == PAGE_LAYOUT_AUTH_HOME_STREAM %> 
                    $('.JS_idea_row_action_preview').unbind('click'); // prevents double assignment of click
                    $('.JS_idea_row_action_preview').click(renderIdeaPreview);
                    $('.JS_idea_row_action_preview').mouseover(function () {
                	    $(this).css('cursor', 'pointer');
                    });
                  <% end %>
                }//,
                //error: function(msg){ // TODO: remove this for live deploy
                //  alert(msg);
                //}
              });

          }
        }
      }, 1000); // 1 second delay for function gives ajax to return and make page longer before next at_bottom check 

    });


    <% if @user_page_layout == PAGE_LAYOUT_AUTH_HOME_STREAM %> 
      $(document).ready(function(){
        $('.JS_idea_row_action_preview').click(renderIdeaPreview);
        $('.JS_idea_row_action_preview').mouseover(function () {
    	    $(this).css('cursor', 'pointer');
        });
      });
    <% end %>

    <% if @read_only %>
      $(document).ready(function() {
        $('a[rel*=facebox]').facebox();
      });
    <% end %>

  </script>
<% end %>


<div id='AJAX_page_num_store' class='hidden-div'><%=session[:page]%></div> <!-- AJAX paginate call to load more ideas -->


<% if @user_page_layout == PAGE_LAYOUT_AUTH_HOME_STREAM %> 
<!-- Using side bar menu so need to limit search and stream to right side -->
<div class='content-container'>  
<% end %>

  <!-- Main Body for side menu, stream, and suggestion block --> 
  <div id='AJAX_main_stream_content'>
    <% unless @stream_ideas.count == 0 %>
      <!-- Determine what kind of layout to render -->
      <% case @user_page_layout %>
      <% when PAGE_LAYOUT_AUTH_HOME_BLOCK %>
        <% @stream_ideas.each do |idea| %>
          <%= render :partial => "shared_modules/block_stream_element_v2", :locals => {:idea => idea} %>
        <% end %>

      <% when PAGE_LAYOUT_AUTH_HOME_BLOCK_NORMAL %>
        <% @stream_ideas.each do |idea| %>
          <%= render :partial => "shared_modules/block_stream_element_v2", :locals => {:idea => idea} %>
        <% end %>

      <% when PAGE_LAYOUT_AUTH_HOME_STREAM %>
        <% @stream_ideas.each do |idea| %>
          <%= render :partial=>'shared_modules/row_item_search_idea', 
                     :locals => {:idea_item => idea,
                                 :pic_display_mode => PIC_VIEW_TYPE_USER,
                                 :view_type => IDEA_STREAM_ALL_ACTIVE} %>
        <% end %>

      <% end %>
    <% else %>
      <br/>
      <br/>
      No ideas to view. Click on the top right link and add one!
    <% end %>
  </div>

<% if @user_page_layout == PAGE_LAYOUT_AUTH_HOME_STREAM %>
<!-- Using side bar menu so need to limit search and stream to right side -->
</div>
<div id='AJAX_right_preview_box_id' class='right-preview-box'>
  <% unless @idea.nil? %>
    <%= render :partial => 'ideas/idea_preview' %>
  <% else %>
    Sorry, no ideas are present for your friends.
  <% end %>

</div>

<% end %>
