<% content_for :head do %>
  <script type="text/javascript">
    last_scroll_position = $(window).scrollTop();

    // TODO: can set autofocus with HTML5 as well so don't need this javascript to run for HTML5 browsers -->
    $(document).ready(function(){
      $("#idea").focus();
    });

    // Windows scroll detection function
    $(window).scroll(function() {
      current_scroll_position = $(window).scrollTop();
      if (current_scroll_position > last_scroll_position){
        did_scroll = true;
      }else{
        did_scroll = false;
      }
      last_scroll_position = current_scroll_position;      
    });

    setInterval(function() {
      if ( did_scroll ) {
        did_scroll = false;
        
        if  ( ($(document).height() - $(window).height()) - $(window).scrollTop() < 50 ){
          var page_num = parseInt($("#page_num_store").html()) + 1

          $.ajax({
              url: "next_ideas_batch_js", 
              data: {page : page_num}, 
              dataType: 'html',
              success: function(returned_html){
                $("#main_stream_table").append(returned_html);
                if ($.trim(returned_html).length != 0){
                  $("#page_num_store").html(String(page_num)); // TODO: check this works
                }
              },
              error: function(msg){ // remove this for live deploy
                alert(msg);
              }
            });

        }
      }
    }, 1000); // 1 second delay for function gives ajax to return and make page longer before next at_bottom check 

    // Function to load in next NUM_IDEAS_STREAM_DISPLAY number of Ideas to display on the stream


  </script>
<% end %>

<!-- Main Body for side menu, stream, and suggestion block -->
<!--  style="display:none" -->
<div id='page_num_store' ><%=session[:page]%></div>

<table>
  <tr>
    <th>
      Left Nav
    </th>
    <th>
      Main Stream
    </th>
    <th>
      Suggestions
    </th>
  </tr>

  <tr>
    <td style="vertical-align: top">

      Add a New Idea:
      <%= form_tag add_idea_path, :method => 'post' do %>
        <%= text_field_tag :idea, @initial_idea %>
        <%= submit_tag "Add Idea" %>
      <% end %>

      <br />

      <%= link_to 'Browse Community', users_path %> <br/>

      <br/>
      
      <!-- TODO: make *'s images; format this left column better -->
      My Ideas
      <div id="<%=ID_TAG_AUTH_HOME_USER_IDEAS%>">
        <%= render :partial => "list_my_ideas", :collection => @user_ideas, :as => :idea %>
      </div>
      
      <br/>
      <br/>
      My Events
      <br/>
      (coming soon)
      
    </td>
    <td style="vertical-align: top">
      
      <!-- Method has to be get for will_paginate compatibility -->
      <%= form_tag authenticated_home_path, :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        
          <input type="hidden", name="stream_view" value='<%=STREAM_VIEW_SEARCH%>' />
        </p>
      <% end %>

      <% case session[:stream_view] %>
        <% when STREAM_VIEW_PUBLIC %>
          Ideas: Public | <%= link_to 'Friends', \
                              authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS), \
                              {:method => 'get', \
                               :title => "See friends' ideas"}%> <br/>
        <% when STREAM_VIEW_FRIENDS %>  
          Ideas: <%= link_to 'Public', \
                     authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC), \
                     {:method => 'get', \
                      :title => "See public ideas"}%>
            | Friends <br/>
        <% when STREAM_VIEW_SEARCH %>
          Ideas: <%= link_to 'Public', \
                     authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC), \
                     {:method => 'get', \
                      :title => "See public ideas"}%> | <%= link_to 'Friends', \
                     authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS), \
                     {:method => 'get', \
                     :title => "See friends' ideas"}%> | Search <br />
      <% end %>
      
      <table id='main_stream_table'>
        <tr>
          <th>Creator</th>
          <th>Idea Text</th>
          <% case session[:stream_view] %>
            <% when STREAM_VIEW_PUBLIC %>
              <th>Users Sharing</th>
            <% when STREAM_VIEW_SEARCH %>
              <th>Users Sharing</th>
            <% when STREAM_VIEW_FRIENDS %>
              <th>Friends Sharing</th>
          <% end %>
        </tr>
        
        <!-- STREAM FRIENDS result display -->
        <% if session[:stream_view] == STREAM_VIEW_FRIENDS %>
          <% @friends_ideas.each do |query_result| %>
            <%= render :partial=>"row_item_friend_idea", :locals => {:friend_idea_query_item => query_result} %>
          <% end %>
        <% else %>
        <!-- STREAM VIEW PUBLIC and SEARCH RESULTS display -->
          <% @search_result_ideas.each do |idea_item| %>
            <%= render :partial=>"row_item_search_idea", :locals => {:idea_item => idea_item} %>
          <% end %>
        <% end %>
        
      </table>
      <!-- TODO: get rid of pagination and go with stream auto load -->  
      <% if session[:stream_view] != STREAM_VIEW_FRIENDS %>
        <%= will_paginate @search_result_ideas %>
      <% end %>

    </td>
    <td style="vertical-align: top">
      Blahblah add this
    </td>
  </tr>
</table>
