<!-- Main Body for side menu, stream, and suggestion block -->
<table>
  <tr>
    <th>
      Left Nav
    </th>
    <th>
      Main Stream
    </th>
    <th>
      Suggestions
    </th>
  </tr>

  <tr>
    <td style="vertical-align: top">

      Add a New Idea:
      <%= form_tag add_idea_path, :method => 'post' do %>
        <%= text_field_tag :idea, @initial_idea %>
        <%= submit_tag "Add Idea" %>
      <% end %>

      <br />

      <%= link_to 'Browse Community', users_path %> <br/>

      <br/>
      
      <!-- TODO: make *'s images; format this left column better -->
      My Ideas
      <div id="<%=ID_TAG_AUTH_HOME_USER_IDEAS%>">
        <%= render :partial => "list_my_ideas", :collection => @user_ideas, :as => :idea %>
      </div>
      
      <br/>
      <br/>
      My Events
      <br/>
      (coming soon)
      
    </td>
    <td style="vertical-align: top">
      
      <%= form_tag authenticated_home_path, :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        
          <input type="hidden", name="stream_view" value='<%=STREAM_VIEW_SEARCH%>' />
        </p>
      <% end %>

      <% case session[:stream_view] %>
        <% when STREAM_VIEW_PUBLIC %>
          Ideas: Public | <%= link_to 'Friends', \
                              authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS), \
                              {:method => 'get', \
                               :title => "See friends' ideas"}%> <br/>
        <% when STREAM_VIEW_FRIENDS %>  
          Ideas: <%= link_to 'Public', \
                     authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC), \
                     {:method => 'get', \
                      :title => "See public ideas"}%>
            | Friends <br/>
        <% when STREAM_VIEW_SEARCH %>
          Ideas: <%= link_to 'Public', \
                     authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC), \
                     {:method => 'get', \
                      :title => "See public ideas"}%> | <%= link_to 'Friends', \
                     authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS), \
                     {:method => 'get', \
                     :title => "See friends' ideas"}%> | Search <br />
      <% end %>
      
      <table>
        <tr>
          <th>Creator</th>
          <th>Idea Text</th>
          <% case session[:stream_view] %>
            <% when STREAM_VIEW_PUBLIC %>
              <th>Users Sharing</th>
            <% when STREAM_VIEW_SEARCH %>
              <th>Users Sharing</th>
            <% when STREAM_VIEW_FRIENDS %>
              <th>Friends Sharing</th>
          <% end %>
        </tr>
        
        <!-- STREAM result display -->
        <% if session[:stream_view] != STREAM_VIEW_SEARCH %>
          <% @stream_ideas.each do |query_results| %>
            <% idea_owner = User.find(query_results.idea_creator) %>
            <tr>
              <td><%= link_to image_tag(idea_owner.profile_pic.url(:stream)),
                              user_path(idea_owner.id),
                              {:method => 'get'} %></td>
              <td>
                <%= link_to query_results.idea_text,
                              idea_path(query_results.idea_id),
                              {:method => 'get'} %><br/>
                <% unless @user_idea_ids.include?(query_results.idea_id.to_s) %>
                  <%= render :partial => "home/idea_action_add",
                             :locals => {:idea_id => query_results.idea_id} %>
                <% end %>
              </td>
              <td>
                <div id="<%=ID_TAG_AUTH_HOME_STREAM_NUM_USERS+query_results.idea_id.to_s%>"><%=query_results.user_count%></div>
              </td>
            </tr>
          <% end %>
        <% else %>
        <!-- SEARCH result display -->
          <% @idea_search_res.each do |idea_result| %>
            <% idea_owner = User.find(idea_result.creator) %>
            <tr>
              <td><%= link_to image_tag(idea_owner.profile_pic.url(:stream)),
                              user_path(idea_owner.id),
                              {:method => 'get'} %></td>
              <td>
                <%= link_to idea_result.text,
                              idea_path(idea_result.id),
                              {:method => 'get'} %><br/>
                <% unless @user_idea_ids.include?(idea_result.id.to_s) %>
                  <%= render :partial => "home/idea_action_add",
                             :locals => {:idea_id => idea_result.id} %>
                <% end %>
              </td>
              <td>
                <div id="<%=ID_TAG_AUTH_HOME_STREAM_NUM_USERS+idea_result.id.to_s%>"><%=idea_result.num_users_joined%></div>
              </td>
            </tr>
          <% end %>
          
        <% end %>
      </table>
    </td>
    <td style="vertical-align: top">
      Blahblah add this
    </td>
  </tr>
</table>
