<% content_for :head do %>

  <script src="/assets/external/jquery.masonry.min.js"></script>
  <script src="/assets/external/jquery.imagesloaded.js"></script>
  
  <script type="text/javascript">
    last_scroll_position = $(window).scrollTop();

    // TODO: can set autofocus with HTML5 as well so don't need this javascript to run for HTML5 browsers -->
    //$(document).ready(function(){

    $(function(){


      did_scroll_down = false; // initialize variable for scroll bottom interval function

      $("#idea").focus();
      $("#idea").select();

      $("#idea").focus(function(){
        $("#idea").select();
      });
      
      $("#search").focus(function(){
        $("#search").select();
      });

      // set Masonry variable and initialize tiling
      var $container = $('#AJAX_main_stream_content');
      $container.imagesLoaded(function(){
        $container.masonry({
          itemSelector: '.magazine-stream-element-container',
          isAnimated: false // sets animation
        });
      });

      // Auto loading ideas on scroll bottom functions
      // Detect scroll event down
      $(window).scroll(function() {
        current_scroll_position = $(window).scrollTop();
        if (current_scroll_position > last_scroll_position){
          did_scroll_down = true;
        }else{
          did_scroll_down = false;
        }
        last_scroll_position = current_scroll_position;      
      });
      // Load next functions
      setInterval(function() {
        if ( did_scroll_down ) {
          did_scroll_down = false;
          
          if  ( ($(document).height() - $(window).height()) - $(window).scrollTop() < 700 ){
            var page_num = parseInt($("#AJAX_page_num_store").html()) + 1;
            var idea_string = $("#search").val();
            
            $.ajax({
                url: "<%=next_ideas_batch_js_path%>", 
                data: {page: page_num, idea: idea_string}, 
                dataType: 'html',
                success: function(returned_html){

                  var $newElems = $( returned_html );
                  // ensure that images load before adding to masonry layout
                  $newElems.imagesLoaded(function(){
                    $container.append($newElems).masonry( 'appended', $newElems, false); // boolean arg sets animation
                  });
                  
                  if ($.trim(returned_html).length != 0){
                    $("#AJAX_page_num_store").html(String(page_num)); // increment pages processed if results came back
                  }
                }//,
                //error: function(msg){ // TODO: remove this for live deploy
                //  alert(msg);
                //}
              });

          }
        }
      }, 1000); // 1 second delay for function gives ajax to return and make page longer before next at_bottom check 

    });


  </script>
<% end %>


<!-- id tag to mark this as the AUTH HOME page for shared AJAX functions -->
<div class='hidden-div' id='<%=ID_TAG_HOME_AUTH_PAGE%>'></div>
<div id='AJAX_page_num_store' class='hidden-div'><%=session[:page]%></div> <!-- AJAX paginate call to load more ideas -->


<!-- Main Body for side menu, stream, and suggestion block -->
<div class='stream-search-bar-container'>

  <div class='stream-search-field-and-button'>
    <%= form_tag authenticated_home_path, :method => :get do %>
      <% if params[:search].blank? %>
        <%= text_field_tag :search, INPUT_BOX_SEARCH_IDEAS %>
      <% else %>
        <%= text_field_tag :search, params[:search] %>
      <% end %>        
      <%= submit_tag "Search", :name => nil %>
      
      <input type="hidden", name="stream_view" value='<%=STREAM_VIEW_SEARCH%>' />
    <% end %>
  </div>
  
</div>



<div id='AJAX_main_stream_content'>    

  <!-- STREAM FRIENDS result display -->
  <% if session[:stream_view] == STREAM_VIEW_FRIENDS %>

    <% @friends_ideas.each do |friend_idea| %>
      <% idea = Idea.find(friend_idea.idea_id) %>
      <%= render :partial => "shared_modules/magazine_stream_element_search", :locals => {:idea => idea} %>
    <% end %>

  <% else %>
  
  <!-- STREAM VIEW PUBLIC and SEARCH RESULTS display -->
  
    <% @search_result_ideas.each do |idea| %>
      <%= render :partial => "shared_modules/magazine_stream_element_search", :locals => {:idea => idea} %>
    <% end %>
    
  <% end %>
</div>


