<h1>Yay, Here's Your homepage:</h1>

Add an idea: 
<%= form_tag add_idea_path, :method => 'post' do %>
  <%= text_field_tag :idea, @initial_idea %>
  <%= submit_tag "Add Idea" %>
<% end %>

<br/>

<!-- Main Body for side menu, stream, and suggestion block -->
<table>
  <tr>
    <th>
      Left Nav
    </th>
    <th>
      Main Stream
    </th>
    <th>
      Suggestions
    </th>
  </tr>

  <tr>
    <td>
      <%= link_to 'View Users', users_path %>
      
      <br/>
      <br/>
      
      My Ideas
      <br/>
      <% @user_ideas.each do |idea| %>
        <%= idea.text %>
        <br/>
      <% end %>
      
    </td>
    <td>
      <% case session[:stream_view] %>
        <% when STREAM_VIEW_PUBLIC %>
          Ideas: Public | <%= link_to 'Friends', \
                              authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS), \
                              {:method => 'get', \
                               :title => "See friends' ideas"}%>
        <% when STREAM_VIEW_FRIENDS %>  
          Ideas: <%= link_to 'Public', \
                     authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC), \
                     {:method => 'get', \
                      :title => "See public ideas"}%>
            | Friends
      <% end %>
      <br/>
      <br/>
      
      <table>
        <tr>
          <th>Idea Text</th>
          <th>Users Sharing</th>
          <th>Idea Id</th>
          <th></th>
        </tr>
        <% @stream_ideas.each do |idea| %>
          <tr>
            <td><%= link_to idea.idea_text, idea_path(idea.idea_id), {:method => 'get'}%></td>
            <td><%= idea.user_count%></td>
            <td><%= idea.idea_id%></td>
            <% if @user_idea_ids.include?(idea.idea_id.to_s) %>
              <td><%= link_to 'View Idea', '#' %></td>
            <% else %>
              <td><%= link_to 'Add Idea',
                              add_idea_id_path(:idea_id => idea.idea_id),
                              {:method => 'post', \
                               :title => 'Add to your idea list'} %>
            <% end %>
          </tr>
        <% end %>  
      </table>
    </td>
    <td>
      Blahblah add this
    </td>
  </tr>
</table>
