<% content_for :head do %>
  <script>
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox()
    });
  </script>
<% end %>

<div class='unauth-content-container'>

  <div >
        
    <h2>Share an idea and find out who else is interested!</h2>
    
    <br />
    
    <!-- need to validate field for not empty -->
    <%= form_tag initial_idea_path, :method => 'post' do %>
      <%= text_field_tag :idea, "", :size => 40 %><br />
      <%= submit_tag "Submit" %>
    <% end %>

  </div>

  <br />
  <br />
  <br />
  <br />
  <div class="home-description-container">
    <div style="width:100%; float: left; text-align: center;">
      <h3>What can you do on Earth Surf?</h3>
    </div>
    <div class="home-description-hr">
      <hr /><br />
    </div>
    <div class="home-description">
      <div>
        Share and idea or activity you're interested in
      </div>
      <div>
        <%= image_tag("share.jpg", :class => 'home-description-img') %>
      </div>
    </div>
    <div class="home-description">
      <div>
        Discover what your friends are doing
      </div>
      <div>
        <%= image_tag("discover.png", :class => 'home-description-img') %>
      </div>
    </div>
    <div class="home-description">
      <div>
        Turn an idea into an event and plan it!
      </div>
      <div>
        <%= image_tag("plan.gif", :class => 'home-description-img') %>
      </div>
    </div>
    <div class="home-description">
      <div>
        Find vendors and deals to make your dream a reality
      </div>
      <div>
        <%= image_tag("vendors.jpg", :class => 'home-description-img') %>
      </div>
    </div>
  </div>



</div>
