<!-- think about including these scroll tools for scrolling texts
  -- javascript files under assets/javascripts/external/ -->
<% content_for :head do %>
  <script>
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox()
    });
  </script>
<% end %>

<div class='unauth-content-container'>

  <div >
        
    What's an idea you want to do with friends?
    
    <br />
    <br />
    <br />
    
    <!-- need to validate field for not empty -->
    <%= form_tag initial_idea_path, :method => 'post' do %>
      <%= text_field_tag :idea, "", :size => 40 %><br />
      <%= submit_tag "Submit" %>
    <% end %>

  </div>

  <br />
  <br />
  <br />
  <br />
  <%= image_tag("placeholder_unauth_flow_image.jpg", :alt => "Hello", :size => "120x120") %>
  <%= image_tag("placeholder_unauth_flow_image.jpg", :alt => "Hello", :size => "120x120") %>
  <%= image_tag("placeholder_unauth_flow_image.jpg", :alt => "Hello", :size => "120x120") %>


</div>
