<h1>Listing idea_commitments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Idea</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @idea_commitments.each do |idea_commitment| %>
  <tr>
    <td><%= idea_commitment.user %></td>
    <td><%= idea_commitment.idea %></td>
    <td><%= link_to 'Show', idea_commitment %></td>
    <td><%= link_to 'Edit', edit_idea_commitment_path(idea_commitment) %></td>
    <td><%= link_to 'Destroy', idea_commitment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea commitment', new_idea_commitment_path %>
