        <!-- Usage

              INPUT
              - user: user object
              - is_online: true or false if user is viewing idea right and chat msgs
              - status_string: Joined, Viewing, Interested, etc
        -->
        
        
          
        <div class='chat-board-user-item'>
          <div class='chat-board-user-item-image'>
            <%= render :partial => '/users/profile_pic', :locals => {:current_user => user, :path => user_path(user.id), :makelink => true} %>

          </div>
          <div class='chat-board-user-item-text'>
            <%= link_to user.user_name, user_path(user.id), {:method => 'get'} %><br />
            <% if is_online %>
              <span id="<%=ID_TAG_IDEA_USER + user.id.to_s%>" class='chat-board-user-item-status-online'><%=status_string%></span>
            <% else %>
              <span id="<%=ID_TAG_IDEA_USER + user.id.to_s%>" class='chat-board-user-item-status-offline'><%=status_string%></span>
            <% end %>            
          </div>
        </div>

