        <!-- Usage

              INPUT
              - user: user object
              - is_online: true or false if user is viewing idea right and chat msgs
              - status_string: Joined, Viewing, Interested, etc
        -->
        
        
          
        <div class='chat-board-user-item'>
          <div class='chat-board-user-item-image'>
            <%= link_to image_tag(user.profile_pic.url(:chat)),
                              user_path(user.id),
                              {:method => 'get'} %>
          </div>
          <div class='chat-board-user-item-text'>
            <%= link_to user.first_name, user_path(user.id), {:method => 'get'} %><br />
            <% if is_online %>
              <span id="<%=ID_TAG_IDEA_USER + user.id.to_s%>" class='chat-board-user-item-status-online'><%=status_string%></span>
            <% else %>
              <span id="<%=ID_TAG_IDEA_USER + user.id.to_s%>" class='chat-board-user-item-status-offline'><%=status_string%></span>
            <% end %>            
          </div>
        </div>

