<% idea_owner = User.find(idea.creator) %>

<div class='magazine-stream-element-container'>

  <div class='magazine-stream-element-description-block'>
    <div class='magazine-stream-element-description-owner-pic'>
      <%= render :partial => '/users/profile_pic', :locals => {:current_user => idea_owner, :path => user_path(idea_owner.id), :makelink => true} %>
    </div>
    <span class='magazine-stream-element-owner-name'><%=idea_owner.first_name %>:</span> &nbsp;<%=idea.text%>
    
  </div>

  <div class='magazine-stream-element-picture'>
    <%= link_to image_tag(idea.photo.url(:original)),
              idea_path(idea.id),
              {:method => 'get'} %>
  </div>

  <div class='magazine-stream-element-stats-block'>
    <div class='magazine-stream-element-stats-block-text'>
      <div id="<%=ID_TAG_AUTH_HOME_STREAM_NUM_USERS+idea.id.to_s%>">
        <%=idea.num_users_joined%> users sharing
      </div>
      <div>
        <%= current_user.friendships
                             .joins('INNER JOIN user_ideas ON friendships.friend_id = user_ideas.user_id')
                             .where('user_ideas.idea_id = ?', idea.id)
                             .count %> friends sharing
      </div>
    </div>

    <div class='magazine-stream-element-stats-block-action'>
      <% unless @user_idea_ids.include?(idea.id.to_s) %>
        <%= render :partial => "home/idea_action_add",
                   :locals => {:idea_id => idea.id} %>
      <% else %>
        <%= render :partial => "home/idea_action_chat",
                   :locals => {:idea_id => idea.id} %>
      <% end %>
    </div>
  </div>

  <div class='magazine-stream-element-chat-msg-block'>
    <% messages = ChatMessage.where("idea_id = ?", idea.id).order("id DESC").limit(4).reverse %>

    <% messages.each do |message| %>
      <div class='magazine-stream-element-chat-msg'>
        <div class='magazine-stream-element-chat-msg-pic'>
          <% msg_owner = User.find(message.user_id) %>
          <%= render :partial => '/users/profile_pic', :locals => {:current_user => msg_owner, :path => user_path(msg_owner.id), :makelink => true} %>
        </div>
        <%= msg_owner.first_name %>: <%= message.text %>
      </div>
    <% end %>
  </div>

</div>
