<p id="notice"><%= notice %></p>

<p>
  <b>Idea:</b>
  <%= @chat_message.idea %>
</p>

<p>
  <b>Text:</b>
  <%= @chat_message.text %>
</p>

<p>
  <b>Users</b>
  <%= @chat_message.user %>
</p>


<%= link_to 'Edit', edit_chat_message_path(@chat_message) %> |
<%= link_to 'Back', chat_messages_path %>
