<% content_for :head do %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>

  <script type="text/javascript">

		$(document).ready(function(){
      $("div#<%=ID_TAG_FEEDBACK_CHAT%>").prop({
        scrollTop: $("div#<%=ID_TAG_FEEDBACK_CHAT%>").prop("scrollHeight")
      });

			pusher = new Pusher('<%=Pusher.key%>');
			chat_presence_channel = pusher.subscribe('<%=PUSHER_CHANNEL_FEEDBACK_CHAT%>');
					 
			chat_presence_channel.bind('<%=PUSHER_CHAT_MSG_EVENT%>',
				function(data) {
					eval(data);
				}
			);
			
			chat_presence_channel.bind('pusher:subscription_succeeded', function(members){
				$('#people_chatting').html("");
				// this is not working TODO: fix this
				members.each(function(member){
					add_member(member.id, member.info.name);
				});
			});

			chat_presence_channel.bind('pusher:member_removed', function(member){
				$('#member_' + member.id).replaceWith("");
			});

			chat_presence_channel.bind('pusher:member_added', function(member){
				add_member(member.id, member.info.name);
			});
			
		});

		function add_member(user_id, name) {
			var content = '<li id=member_' + user_id + '>' + name + '</li>';
			$('#people_chatting').append(content);
		}

  </script>
<% end %>


<%= render :partial => 'home/left_nav' %>

<div class='content'>

  <!-- not using admin_messages/_admin_msg_item.html.erb anymore - ajax implications? -->
  <div class='content-section'>
    <div class='content-header'>Give ALL the feedbacks!（╯°□°）╯︵ ┻━┻</div>
    <span class='minor-text'>Leave us feedback & problems. We're probably online and might even msg you back!</span>
    
	  <!-- idea chat window ID is "idea_chat_<##>" where <##> is unique DB idea id -->
    <%= render :partial => "shared_modules/chat_board", 
               :locals => {:chat_messages => @feedback_messages,
                           :ajax_tag => ID_TAG_FEEDBACK_CHAT} %>


    <% @admin_message = AdminMessage.new %>
    <%= form_for @admin_message, :remote => true do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.text_field :text, :size=>"40" %>

      <div class="chat-message-send-button">
        <%= f.submit "Send" %>
      </div>
    <% end %>

  </div>
  
</div>
