<header>

  <script type="text/javascript">
    $(document).ready(function(){

      $('#JQUERY-add-ideas-link').bind('click', function() {
        if ($('#JQUERY-add-ideas-section').css('display') == "none"){
          $('#JQUERY-add-ideas-section').show(300);
          $('#idea').focus();
        } else {
          $('#JQUERY-add-ideas-section').hide(300);
        }
        return false;
      });

      $('#JQUERY-nav-link').bind('click', function() {
        if ($('#JQUERY-nav-section').css('display') == "none"){
          $('#JQUERY-nav-section').show(300);
        } else {
          $('#JQUERY-nav-section').hide(300);
        }
        return false;
      });

    });
  </script>


  <div class='main-header-full-width-container'>

    <div class="main-header-left-content-container">
      <div class="main-header-left-content">
        <%= link_to content_tag(:b, 'earth surf', ), root_url, :class => 'header-logo-text'%>
        <br/>
        <% if user_signed_in? %>
          <!-- <span class="minor-link"><%=link_to "Feedback? Chat us up!", feedback_path, {:target => "_blank", :class => 'header-text'} %></span>  removed for now to clean up the header. This should probably go into the footer at some point-->
        <% end %>

      </div>
    </div>

    <div class='main-header-center-content-container'>
      <% if user_signed_in? %>
        <div class='main-header-center-content'>
            <div class='stream-search-field-and-button'>
              <%= form_tag authenticated_home_path, :method => :get do %>
                <% if params[:search].blank? %>
                  <%= text_field_tag :search, '', :size => "37" %>
                <% else %>
                  <%= text_field_tag :search, params[:search], :size => "37" %>
                <% end %>        
                <%= submit_tag "Search", :name => nil %>
                
                <input type="hidden" name="stream_view" value='<%=STREAM_VIEW_SEARCH%>' />
              <% end %>
            </div>
                
          <div class='idea-stream-content-view-selector'>
            <span class='header-text'>View Ideas: </span>
            <% case session[:stream_view] %>
              <% when STREAM_VIEW_PUBLIC %>
                <span class='header-text'>Public</span> | 
                <%= link_to 'Friends', 
                            authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS), 
                                                    {:method => 'get', 
                                                     :title => "See friends' ideas", :class => 'header-text'}%><br/>

              <% when STREAM_VIEW_FRIENDS %>  
                <%= link_to 'Public', authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC), 
                                                              {:method => 'get', 
                                                               :title => "See public ideas",
                                                               :class => 'header-text'}%> | 
                <span class='header-text'>Friends</span><br/>

              <% when STREAM_VIEW_SEARCH %>
                <%= link_to 'Public',
                           authenticated_home_path(:stream_view => STREAM_VIEW_PUBLIC),
                           {:method => 'get',
                            :title => "See public ideas"}%> | 
                <%= link_to 'Friends',
                           authenticated_home_path(:stream_view => STREAM_VIEW_FRIENDS),
                           {:method => 'get',
                           :title => "See friends' ideas"}%> | 
                Search <br />

            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class='main-header-right-content-container'>
      <div class='main-header-right-content'>
        <div class='minor-text'>
          <% if user_signed_in? %>
            <span class='header-text'>Hello <%= link_to current_user.first_name.empty? ? current_user.user_name : current_user.first_name, users_profile_path, {:class => 'header-text'} %> </span>
            <br/>
            <a href='#' id='JQUERY-add-ideas-link', class='header-text'>Add Ideas</a> | 
            <a href='#' id='JQUERY-nav-link', class = 'header-text'>Navigation</a> | 
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'header-text' %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, options = {:rel => 'facebox', :class => 'header-text'} %><br/>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Google analytics tracking code. Do not put anything between this and the header tag -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27325664-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</header>



<div id='JQUERY-nav-section' class='main-header-drop-down-container hidden-div'>
  <%= link_to 'Home', root_url%> | 
  <%= link_to 'Find Friends', users_path %> | 
  <%= link_to 'My Ideas & Profile', users_profile_path%>
</div>

<div id='JQUERY-add-ideas-section' class='main-header-drop-down-container hidden-div'>
  <%= form_tag add_idea_path, :method => 'post' do %>
    <% if @initial_idea_string.nil? || @initial_idea_string.blank? %>
      <%= text_field_tag :idea, INPUT_BOX_ADD_IDEA, :size => "40" %>
    <% else %>
      <%= text_field_tag :idea, @initial_idea_string, :size => "40" %>
    <% end %>      
    <%= submit_tag "Add Idea" %>
  <% end %>
</div>

