<header>

<% unless user_signed_in? %>
  <div class='main-header-full-width-container-no-menu'>
<% else %>
  <% if current_user.auth_page_layout == PAGE_LAYOUT_AUTH_HOME_STREAM %>
  <div class='main-header-full-width-container-menu'> <!-- both views will have menu for now -->
  <% else %>
  <div class='main-header-full-width-container-menu'>
  <% end %>
<% end %>
    <div class='header-center-container'>
      
        <div class="main-header-left-content">
          <%= link_to content_tag(:b, 'Jump In!'), root_url%>
          <br />
          <br />
          <% if user_signed_in? %>
            <span class="minor-link"><%=link_to "Feedback? Chat us up!", feedback_path, {:target => "_blank"} %></span>
          <% end %>
        </div>

        <% if user_signed_in? %>

          <div class='main-header-center-content'>
            <%= form_tag add_idea_path, :method => 'post' do %>
              <% if @initial_idea_string.nil? || @initial_idea_string.blank? %>
                <%= text_field_tag :idea, INPUT_BOX_ADD_IDEA, :size => "40" %>
              <% else %>
                <%= text_field_tag :idea, @initial_idea_string %>
              <% end %>      
              <%= submit_tag "Add Idea" %>
            <% end %>
            
            <div class='nav-main-link round'><%= link_to 'Add Friends', users_path %></div>
            
            <div class='nav-main-link round'><%= link_to 'My Ideas', users_profile_path%></div>

            <div class='nav-main-link-unimplemented round'>My Events</div>

          </div>
          
        <% end %>

        <div class='main-header-right-content'>
          <div class='minor-text'>
            <b>
            <% if user_signed_in? %>
              Hello <%= link_to current_user.first_name.empty? ? current_user.user_name : current_user.first_name, users_profile_path %><br/>
              <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete%>
              <br/>

              Layout:<br/>
              <% case current_user.auth_page_layout %>
              <% when PAGE_LAYOUT_AUTH_HOME_STREAM %>
                Stream | 
                <%= link_to 'Stagger', user_set_view_layout_path(:layout => PAGE_LAYOUT_AUTH_HOME_BLOCK), :method => 'post' %> | 
                <%= link_to 'Block', user_set_view_layout_path(:layout => PAGE_LAYOUT_AUTH_HOME_BLOCK_NORMAL), :method => 'post' %>
              <% when PAGE_LAYOUT_AUTH_HOME_BLOCK %>
                <%= link_to 'Stream', user_set_view_layout_path(:layout => PAGE_LAYOUT_AUTH_HOME_STREAM), :method => 'post' %> | 
                Stagger | 
                <%= link_to 'Block', user_set_view_layout_path(:layout => PAGE_LAYOUT_AUTH_HOME_BLOCK_NORMAL), :method => 'post' %>
              <% when PAGE_LAYOUT_AUTH_HOME_BLOCK_NORMAL %>
                <%= link_to 'Stream', user_set_view_layout_path(:layout => PAGE_LAYOUT_AUTH_HOME_STREAM), :method => 'post' %> | 
                <%= link_to 'Stagger', user_set_view_layout_path(:layout => PAGE_LAYOUT_AUTH_HOME_BLOCK), :method => 'post' %> | 
                Block
              <% end %>

	          <% else %>
              <%= link_to 'Sign In', new_user_session_path, options = {:rel => 'facebox'} %><br/>
	          <% end %>
            </b>
          </div>
        </div>

      
    </div>
  </div>

  <!-- AJAX picks up DIV ids to insert proper notices -->
  <div id='flash-notice-div'>
    <% if flash[:notice] %>
      <%= render :partial => "layouts/flash_notice" %>
    <% end %>
  </div>
  <div id='flash-alert-div'>
    <% if flash[:alert] %>
      <%= render :partial => "layouts/flash_alert" %>
    <% end %>
  </div>
  <!-- or flash.each do |key, msg| -->

</header>
