<!DOCTYPE html>
<html>
  <head>
    <!-- title is function from app/helpers/ApplicationHelper -->
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    
    <%= javascript_include_tag "application" %>
    
    <%= render 'layouts/stylesheets' %>
        
    <%= yield :head %>
        
  </head>
  <body>

    <%= render 'layouts/header' %>
    <div class="center-container">
      <div class="container" id="user_nav">
    	  <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
