<!DOCTYPE html>
<html>
  <head>
    <!-- title is function from app/helpers/ApplicationHelper -->
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    
    <%= javascript_include_tag "application" %>
    
    <%= render 'layouts/stylesheets' %>
    <%= stylesheet_link_tag('facebox') %>    
    <%= yield :head %>
        
  </head>
  <body>

    <%= render 'layouts/header' %>

    <% unless user_signed_in? %>
      <div class="center-container-more-top-margin">
    <% else %>
      <% if current_user.auth_page_layout == PAGE_LAYOUT_AUTH_HOME_STREAM %>
      <div class="center-container-less-top-margin">
      <% else %>
      <div class="center-container-more-top-margin">
      <% end %>
    <% end %>
      <div class="container" id="user_nav">
    	  <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
